header {
    background-color: rgb(37, 69, 100);
    width: 100%;
    margin: 0 0 1em 0;
    height: auto;
    text-align: center;
    color: whitesmoke;
    padding: 1em;
    display: block;
}

body {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
}

.container#search{
    width: calc((100% / 3) - 0.5em);
    float: left;
}

.searchIcon {
    background-color: #06AED5;
    color: white;
    opacity: 1;
    font-size: 20px;
    height: 100%;
    margin-top: 0.5em;
    float: right;
}

.searchIcon:Hover {
    opacity: 0.6;
}

#searchBar {
    float: left;
}


.container {
    padding: 1em;
    margin: 0.5em;
    float: right;
    height: 100%;
    border: 1px solid #06AED5 ;
    border-radius: 5px;
    width: calc(((100% / 3) * 2) - 2em);
}

.days {
    display: inline-block;
    background-color: #06AED5;
    color:whitesmoke;
    height: 30vh;
    width: calc((100% / 5) - 0.5em);
    padding: 1em;
    margin: 0.1em;
}